{% load static %}
<!DOCTYPE html>
<html lang="en">
  <title>{% block head_title %} {% endblock head_title %}</title>
  <head>
    {% include 'components/headTags.html' with title=title image=image slug=skit_url type=type %} {% block css %} {% endblock css %}
  </head>
  <body>
    <!-- <body class="background-skin"> -->
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <!-- Not Compartable -->
    <div id="cDevice"></div>
    <div class="Skt-Chat flex text-black">
      {% block content %} {% endblock content %}
    </div>
    <!-- DRY => Don't Repeat Yourself -->
    {% include 'react/js.html' %}
    {% block js %} {% endblock js %}
  </body>
</html>
