<h2 class="text-xl font-semibold my-3">Buy A Passcode now!</h2>
<br />
<form id="paymentForm" autocomplete="on">
  <div class="form-group">
    <label for="email">Email To Send Receipt: </label>
    <input
      type="email"
      class="text-base text-gray-800 focus:shadow-md transition-all duration-100 ease-in-out font-semibold w-full px-3 outline-none py-2 border rounded-md"
      id="email-address"
      required
    />
  </div>
  <div class="form-submit">
    <button
      type="submit"
      class="btn btn-success shadow-md border-none bg-green-400"
      onclick="payWithPaystack()"
    >
      Pay
    </button>
  </div>
</form>
<script src="https://js.paystack.co/v1/inline.js"></script>
<script>
  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== "") {
      const cookies = document.cookie.split(";");
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) === name + "=") {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }

  var csrftoken = getCookie("csrftoken");
  const paymentForm = document.getElementById("paymentForm");
  function payWithPaystack(e) {
    if (e.preventDefault) e.preventDefault();
    let handler = PaystackPop.setup({
      key: "pk_live_eff80ec289bfe7c96e1777d1f6ee61df3afcd1a0", // Replace with your public key
      email: document.getElementById("email-address").value,
      amount: 5000 * 100,
      // label: "Optional string that replaces customer email"
      onClose: function () {
        alert("You Just Closed Payment Window!, And Did Not Pay Anything");
      },
      callback: function (response) {
        var url = "/p/complete/";
        data = { newId: `${response.reference}` };
        let request = new Request(url, {
          method: "POST",
          body: JSON.stringify(data),
          headers: new Headers({
            "Content-Type": "application/json; charset=UTF-8",
            "X-CSRFToken": csrftoken,
          }),
        });
        fetch(request).then(function () {
          window.location.href = `/p/complete/${response.reference}/`;
        });
      },
    });
    handler.openIframe();
  }
  paymentForm.addEventListener("submit", payWithPaystack, false);
</script>
