<h2>Buy A Passcode now!</h2>
<br />
<form id="paymentForm">
  <div class="form-group">
    <label for="email">Email To Send Transaction Confirmation</label>
    <input type="email" class="form form-control" id="email-address" required />
  </div>
  <div class="form-submit">
    <button type="submit" class="btn btn-secondary" onclick="payWithPaystack()">
      Pay
    </button>
  </div>
</form>
<script src="https://js.paystack.co/v1/inline.js"></script>
<script>
  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== "") {
      const cookies = document.cookie.split(";");
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) === name + "=") {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }

  var csrftoken = getCookie("csrftoken");
  const paymentForm = document.getElementById("paymentForm");
  function payWithPaystack(e) {
    e.preventDefault();
    let handler = PaystackPop.setup({
      key: "pk_live_eff80ec289bfe7c96e1777d1f6ee61df3afcd1a0", // Replace with your public key
      email: document.getElementById("email-address").value,
      amount: 2000 * 100,
      // label: "Optional string that replaces customer email"
      onClose: function () {
        alert("You Just Closed Payment Window!");
      },
      callback: function (response) {
        var url = "/ex/p/complete/";
        data = { newId: `${response.reference}` };
        let request = new Request(url, {
          method: "POST",
          body: JSON.stringify(data),
          headers: new Headers({
            "Content-Type": "application/json; charset=UTF-8",
            "X-CSRFToken": csrftoken,
          }),
        });
        fetch(request).then(function () {
          window.location.href = `/ex/p/complete/${response.reference}/`;
        });
      },
    });
    handler.openIframe();
  }
  paymentForm.addEventListener("submit", payWithPaystack, false);
</script>
