{% extends "comp/b.html" %} {% load static %} {% block title %} Code Generator
{% endblock %} 
{% block content %}
{% if codes %} 
<h1 class="text-3xl font-semibold">{{codes.count}} New Passcodes</h1>
{% for code in codes %}
<p class="text-base font-bold">{{code}}</p>
{% endfor %} {% else %}
<form method="post" action="{% url 'gpage' %}" class="flex flex-col gap-4">
    {% csrf_token %}
    <input type="number" class="text-base text-gray-800 focus:shadow-md transition-all duration-100 ease-in-out font-semibold w-full px-3 outline-none py-2 border rounded-md" name="num" />
    <div class="form-group">
        <button type="submit" value="create" class="btn btn-primary border-none shadow-md bg-blue-400">Create</button>
      </div>
</form>
{% endif %}
{% endblock content %}
