{% extends "comp/b.html" %} {% load static %} {% block title %}
{{ chapter.title }}
{% endblock %} {% block content %}
    <h1 class="text-lg font-semibold" id="pass-used-teller"></h1>
    <hr class="sidebar-divider mb-3" />
    <h3 class="text-lg font-semibold flex underline justify-center">{{ chapter.title|safe }}</h3>
  <section class="my-2 mx-0" id="{{ chapter.id }}">
    <p class="lead text-base font-semibold">{{ chapter.text|safe }}</p>
  </section>
<script>
  function getCookie(cname) {
    let name = cname + "=";
    let decodedCookie = decodeURIComponent(document.cookie);
    let ca = decodedCookie.split(";");
    for (let i = 0; i < ca.length; i++) {
      let c = ca[i];
      while (c.charAt(0) == " ") {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return "";
  }
  var teller = document.getElementById("pass-used-teller");
  let used_count = parseInt(getCookie("pass-code-used"));
  used_count =
    used_count === 1
      ? "First Time (<span style='color: red'>1 left</span>)"
      : "Second Time (<span style='color: red'>last 🙅🏾‍♀️</span>)";
  if (used_count === "" || used_count > 2) {
    window.location.reload();
  } else {
    teller.innerHTML = `Your Pass has been used for the ${used_count}`;
  }
</script>
{% endblock %}
