{% extends "comp/b.html" %} {% load static %} {% block title %}Display text{% endblock %} {% block content %}
  <h1 class="text-3xl font-semibold" id="pass-used-teller"></h1>
  <hr class="sidebar-divider my-2" />
  <ul
    class="flex flex-wrap gap-2 my-10 mx-0 flex-row justify-start items-start"
  >
    {% for chapter in chapters %}
    <li
      onClick="window.location.href=`/ex/c/{{ chapter.id }}/`"
      class="flex justify-center items-center bg-slate-400 cursor-pointer hover:bg-slate-800 rounded-lg shadow-md py-2 px-4"
      id="{{ chapter.id }}"
    >
      <span class="text-base text-gray-200 font-semibold"
        >{{ chapter.title }}</span
      >
    </li>
    {% empty %}
    <h2>
      No recent past question here to show.
      <!-- <a href="/ex/upload/">Upload a .docx file!</a> -->
    </h2>
    {% endfor %}
  </ul>
<script>
  function getCookie(cname) {
    let name = cname + "=";
    let decodedCookie = decodeURIComponent(document.cookie);
    let ca = decodedCookie.split(";");
    for (let i = 0; i < ca.length; i++) {
      let c = ca[i];
      while (c.charAt(0) == " ") {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return "";
  }
  var teller = document.getElementById("pass-used-teller");
  let used_count = parseInt(getCookie("pass-code-used"));
  used_count =
    used_count === 1
      ? "First Time (<span style='color: red'>1 left</span>)"
      : "Second Time (<span style='color: red'>last 🙅🏾‍♀️</span>)";
  if (used_count === "" || used_count > 2) {
    window.location.reload();
  } else {
    teller.innerHTML = `Your Pass has been used for the ${used_count}`;
  }
</script>
{% endblock %}
