{% extends "comp/b.html" %} {% block title %}Display text{% endblock %} {% block
content %}
<h1 class="text-3xl font-semibold" id="pass-used-teller"></h1>
<hr class="sidebar-divider my-2" />
<p class="mb-2 text-lg">
  If you can't see what you are searching for, you can click on the course and
  <button
    id="cr-btn"
    class="py-1 px-2 border bg-gray-300 text-blue-700 mx-1 rounded-md"
  >
    CONTROL + F
  </button>
  (to find what you are looking for in one page)
</p>
<small className="opacity-75"
  >Disclaimer: <b>No Refunds</b> & previous button will not work</small
>
<div class="animate-pulse text-lg text-purple-600 font-bold">
  You can now search and get AI Results (will be useful for french)
</div>
<ul class="flex flex-wrap gap-2 my-10 mx-0 flex-row justify-start items-start">
  {% for chapter in chapters %}
  <li
    onClick="window.location.href=`/c/{{ chapter.id }}/`"
    class="flex justify-center items-center bg-slate-400 cursor-pointer hover:bg-slate-800 rounded-lg shadow-md py-2 px-4"
    id="{{ chapter.id }}"
  >
    <span class="text-base text-gray-200 font-semibold"
      >{{ chapter.title }}</span
    >
  </li>
  {% empty %}
  <h2>
    No recent past question here to show.
    <!-- <a href="/upload/">Upload a .docx file!</a> -->
  </h2>
  {% endfor %}
</ul>
<script>
  function getCookie(cname) {
    let name = cname + "=";
    let decodedCookie = decodeURIComponent(document.cookie);
    let ca = decodedCookie.split(";");
    for (let i = 0; i < ca.length; i++) {
      let c = ca[i];
      while (c.charAt(0) == " ") {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return "";
  }
  var teller = document.getElementById("pass-used-teller");
  let used_count = parseInt(getCookie("pass-code-used"));
  used_count =
    used_count === 1
      ? "First Time (<span style='color: red'>1 left</span>)"
      : "Second Time (<span style='color: red'>last 🙅🏾‍♀️</span>)";
  if (used_count === "" || used_count > 2) {
    window.location.reload();
  } else {
    teller.innerHTML = `Your Pass has been used for the ${used_count}`;
  }
</script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    document
      .getElementById("cr-btn")
      .addEventListener("click", function (element) {
        let crkeydown = new KeyboardEvent("keydown", {
          key: "Control",
          code: "ControlLeft",
          keyCode: 17,
          ctrlKey: true,
        });
        let keydown = new KeyboardEvent("keydown", {
          key: "f",
          code: "KeyF",
          keyCode: 70,
          ctrlKey: true,
        });
        document.dispatchEvent(crkeydown); // element is the one you want to trigger the event
        document.dispatchEvent(keydown); // element is the one you want to trigger the event

        window.dispatchEvent(keydown); // element is the one you want to trigger the event
        window.dispatchEvent(crkeydown); // element is the one you want to trigger the event
      });
    // listen for any key presses
    document.addEventListener("keydown", function (e) {
      if (e.altKey || e.ctrlKey) {
        // alt or ctrl is pressed
        console.log(
          "Key: " +
            e.key +
            "; alt pressed: " +
            e.altKey +
            "; ctrl pressed: " +
            e.ctrlKey
        );
      }
    });
  });
</script>
{% endblock %}
