{% extends "comp/b.html" %} {% load static %} {% block title %}Pass Code
Checker{% endblock %} {% block content %}
  <h2 class="text-3xl font-semibold my-3">Enter Pass Code</h2>
  <hr class="sidebar-divider my-1" />
  {% if error %}
  <p class="text-lg font-semibold pb-2 capitalize pt-1 text-red-400" style="color: rgba(222, 22, 22, 0.86)">{{error|safe}}</p>
  {% else %}
  <p class="lead font-semibold">
    Enter the passcode given to you by the owner of the website!
    <b
      >Note: you can only use your code <b>TWICE</b> and a code
      <b style="color: blueviolet">expires every 2hrs</b></b
    >
    and first logout from the previous session before using a code!
  </p>
  {% endif %}
  <form method="POST" class="my-2" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
      <input
        type="text"
        name="pass_code"
        id="pass-code"
        class="text-base text-gray-800 focus:shadow-md transition-all duration-100 ease-in-out font-semibold w-full px-3 outline-none py-2 border rounded-md"
        placeholder="enter your given pass-code!"
        required
      />
    </div>
    <div class="form-group">
      <button type="submit" value="Enter" class="btn btn-primary border-none shadow-md bg-blue-400">Enter</button>
    </div>
  </form>
  <hr class="sidebar-divider" />
  {% include 'p/buy_code_inc.html' %}
{% endblock %}
