{% extends "comp/b.html" %}

{% load static %}

{% block title %}{% if lookup == 'no' %}Payment Successful{% elif lookup == 'yes' %}Found Passcode!{% else %}Passcode Lookup{% endif %} {% endblock %}

{% block content %}
    <div class="jumbotron">
        {% if lookingup %}
        <h2>Look For Your Passcode</h2>
        {% if error %}
        <p class="lead" style="color:rgb(202, 56, 56)">{{error|safe}}</p>
        {% else %}
        <p class="lead">Enter the your transactionId given to you when you purchased for a passcode :)</p>
        {% endif %}
        <hr class="sidebar-divider">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
              <input
                type="text"
                name="transactionId"
                id="transactionId"
                class="form form-control"
                placeholder="enter your transactionId!"
                required="true"
              />
            </div>
            <div class="form-group">
              <button type="submit" value="Lookup" class="btn btn-primary">Check</button>
            </div>
          </form>
        {% else %}
        {% if lookup == 'no' %}
        <h2>Payment Successful! 💚</h2>
        <p class="lead">You have successfully pay for a two-time passcode from the web masters 💟</p>
        <hr class="sidebar-divider">
        {% endif %}
        <h3>Your {% if lookup == 'no' %} New {% endif %} Passcode is <strong style="color:rgb(108, 151, 43);font-family: monospace;">{{code}}</strong></h3>
        <h3>Your Transaction ID: <strong><em style="opacity: 0.8;font-family: monospace;">{{tId}}</em></strong></h3>
        {% if lookup == 'yes' %}
        <h3>Your Passcode has been used <strong><em style="opacity: 0.9;color: blueviolet;">{{used_count}}</em> 
            {% if used_count <= 1%}time{% elif used_count == 2 %}times <b style="color:rgba(202, 56, 56, 0.802)">[LAST]</b>{% else %}
            times <b style="color:red">[EXPIRED]</b>{% endif %}</strong></h3>
        {% endif %}
        <hr class="sidebar-divider">
        <p class="lead"><b>Note:</b><ul>
            <li><span>Copy Your Passcode and <b>your transactionId[ <em style="opacity: 0.8;font-family: monospace;">{{tId}}</em> ]</b></span></li>
            <li><span>Don't share any of this!</span></li>
            <li><span>Make Sure You don't loose your TransactionId because you will be need it to <b>check for your passcode</b></span></li>
        </ul></p>
        {% endif %}
    </div>
{% endblock %}