boto
boto3
botocore
channels
channels-redis
redis
cryptography
decorator
dj-database-url
Django==3.2
django-allauth
django-cleanup
django-compressor
django-cors-headers
django-debug-toolbar
django-filter
django-graphql-auth
django-graphql-jwt
django-pwa
django-rest-auth
django-storages
djangorestframework
graphene
graphene-django
graphql-core
graphql-relay
gunicorn
hiredis
Pillow
python-decouple
whitenoise
moviepy