Django
django-cors-headers
django-rest-auth
djangorestframework
graphene
graphene-django
graphql-core
graphql-relay
gunicorn
django-allauth
django-cleanup
django-compressor
django-debug-toolbar
django-filter
django-graphql-auth
django-graphql-jwt
django-pwa
django-storages
Pillow
hiredis
whitenoise
moviepy
dj-database-url
daphne
channels
channels-redis
boto
boto3
botocore