{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
<div class="min-h-screen flex flex-col items-center justify-center">
    <div
      class="
        flex flex-col
        bg-dark
        shadow-md
        mt-5
        px-4
        py-8
        rounded-md
        w-full
        max-w-md
      "
    >
<div class="mt-5">
    <figure style="background-image: url({{user.profile.image_url.url}});" 
    class="h-20 w-20 mb-2 m-auto bg-green rounded-full object-cover"></figure>
        <a href="{% url 'profile' user.username %}" target="_blank" class="m-auto capi text-center" rel="noopener noreferrer">
            <p class="m-auto capi text-center">@{{user.username}}</p></a>
  <form method="POST">
    {% csrf_token %}

    <!-- password -->
    <div
      class="flex flex-col mb-6 {% if btn_label == 'SignUp' %}none"
      id="pwd"
      {% endif %}
    >
      <label
        for="password"
        class="mb-1 text-xs sm:text-sm tracking-wide text-gray-600"
        >Password:</label
      >
      <div class="relative">
        <div
          class="
            inline-flex
            items-center
            justify-center
            absolute
            left-0
            top-0
            h-full
            w-10
            text-gray-400
          "
        >
          <svg
            class="h-6 w-6"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z"
              style="fill: transparent"
            ></path>
          </svg>
        </div>

        <input
          type="password"
          name="confirm_password"
          data-strength
          maxlength="200"
          class="
            text-sm
            sm:text-base
            placeholder-gray-500
            pl-10
            pr-4
            rounded-lg
            w-full
            py-2
            text-grey-800
          "
          id="id_{{form.confirm_password.label}}"
          autocomplete="off"
          required
        />
      </div>
      <style>
        #id_{{form.confirm_password.label}}:focus,
        #id_{{form.confirm_password.label}}:valid{border-bottom: none;}
      </style>
      {% if form.errors.confirm_password %} {{form.errors.confirm_password}}
      <style>
        #id_{{form.confirm_password.label}}:focus,
        #id_{{form.confirm_password.label}}:valid{border-bottom: 1px solid darkred;}
        #id_{{form.confirm_password.label}}{ transition: border-bottom border-radius .24s ease}
        #id_{{form.confirm_password.label}}:invalid{border: 1px solid darkred;}
      </style>
      {% endif %}
    </div>
      <div class="flex w-full">
      <!-- Submit Btn -->
      <button
        type="submit"
        class="
          flex
          items-center
          justify-center
          focus:outline-none
          text-white text-sm
          sm:text-base
          bg-green
          hover:bg-green-700
          py-2
          w-full
          transition
          duration-150
          ease-in
          submit-btn
        "
        id="submit-btn"
      >
        <span class="mr-2 uppercase">Confirm</span>
        <span>
          <svg
            class="h-6 w-6"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z"
              style="fill: transparent"
            ></path>
          </svg>
        </span>
      </button>
    </div>
  </form>
</div>
</div>
</div>
{% endblock content %}
