{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head charset="utf-8">
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="application-name" content="Docx Importer" />

    <!-- Chrome for Android theme color -->
    <meta name="theme-color" content="#B6f664" />

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="Docx Importer" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />

    <meta
      name="viewport"
      content="minimum-scale=1,initial-scale=1,width=device-width,shrink-to-fit=no"
    />
    <meta
      name="description"
      content="This is a prototype website for past questions...pls don't use it for bad!"
    />
    <meta name="author" content="Divuzki" />
    <link
      rel="icon"
      href="https://public-files-paystack-prod.s3.eu-west-1.amazonaws.com/integration-logos/jBdTSWXwoWMTpzNQZMfu"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %}BIU PAST QUESTIONS{% endblock %}</title>

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/4.0amples/navbar-top-fixed/"
    />

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
  </head>

  <body>
    <nav
      class="navbar text-slate-600 navbar-expand-md fixed-top backdrop-blur-md"
      style="background-image: linear-gradient(178deg, #ffffff0a, #48acab24)"
    >
      <a class="navbar-brand" href="">
        {% if request.COOKIES.pass_code %} Questions {% else %} Confirm Passcode
        {% endif %}
      </a>
      <button
        class="navbar-toggler flex focus:outline-none collapsed"
        type="button"
        data-toggle="collapse"
        data-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span
          class="navbar-toggler-icon active:bg-blue-200 shadow-md bg-blue-300 rounded-md w-8 h-4 m-auto"
        ></span>
      </button>
      <style>
        .collapse.show {
          visibility: visible;
        }
        @media (min-width: 768px) {
          .collapse {
            visibility: visible !important;
          }
        }
      </style>
      <div
        class="collapse navbar-collapse md:border-none border-t border-blue-100"
        id="navbarCollapse"
      >
        <ul class="navbar-nav mr-auto">
          {% if request.COOKIES.pass_code %}
          <li class="nav-item active">
            <a class="nav-link" href="/end/"
              >End Session (Logout) - {{ request.COOKIES.pass_code }}<span
                class="sr-only"
                >(current)</span
              ></a
            >
          </li>
          {%else%}
          <li class="nav-item active">
            <a class="nav-link" href="/look/">Check For Passcode</a>
          </li>
          {% endif %}
          <li class="nav-item active">
            <a class="nav-link" href="/buy/">Buy Passcode</a>
          </li>
        </ul>
        <!-- Search Bar -->
        {% if request.COOKIES.pass_code %}
        <form class="form-inline mt-2 mt-md-0" action="{% url 'search_docx' %}">
          <input
            class="form-control rounded-md shadow-sm mr-sm-2"
            type="text"
            placeholder="Search"
            aria-label="Search"
            name="query"
            required
          />
          <button
            class="btn btn-outline-secondary hover:border-none rounded-md hover:shadow-sm transition-all duration-100 my-2 my-sm-0"
            type="submit"
          >
            Search
          </button>
        </form>
        {% endif %}
      </div>
    </nav>

    <main role="main" class="container">
      <div class="my-2 md:mx-6 px-6 py-3 bg-slate-200 rounded-lg shadow-lg">
        {% block content %}{% endblock %}
      </div>
    </main>

    <!-- Page scripts -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script>
      window.jQuery ||
        document.write(
          `<script src="{% static 'js/jquery-slim.min.js' %}"><\/script>`
        );
    </script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript">
      window.addEventListener("beforeunload", function (e) {
        e.preventDefault();
        var x = window.history.length;
        history.go(-x);
      });
      history.replaceState(
        "if you reach here, you know what you are doing 👌, and your ip is with me boss 😁",
        null,
        `${window.location.origin}//www.zazuu.com/run/project_biza_biza`
      );
    </script>
  </body>
</html>
