{% extends 'base.html' %}
{% block profile-content %}
{% if request.user.is_authenticated %}
<skt-title style="display: none;">{{username}}</skt-title>
<div class="skitte-profile-badge" data-username="{{ username }}" 
{% if request.user.username == username %}
data-canSkit="true"
{% endif %}
data-user="{{ user.username }}" data-is_authenticated="yah"></div>
{% else %}
<div class="skitte-profile-badge" data-username="{{ username }}" data-canSkit="false" data-user="{{ user.username }}" data-is_authenticated="nah"></div>
{% endif %}
{% endblock profile-content %}